@media only screen and (max-width: 2560px){
}
@media only screen and (max-width: 1350px){
.container{
	width: 100%;
}
.prising_items{
  width: 1180px;
  margin: 0 auto;
}
.pricing_item{
  margin: 0 15px;
}
.team_items{
  width: 1100px;
  margin: 0 auto;
}
.team_item {
  margin: 0px 9px;
}
}
@media only screen and (max-width: 1180px){
.prising_items{
  width: 590px;
}
.pricing_item{
  margin: 15px;
}
}
@media only screen and (max-width: 1170px){
.banner_content {
  width: 50%;
}
.about_items{
  width: 90%;
  margin: 0 auto;
}
.about_item{
  width: 33%;
  padding: 10px;
  margin: 0 auto;
}
.features_phones {
  padding-top: 50px;
  width: 40%;
  margin-left: -20%;
}
}
@media only screen and (max-width: 1100px){
.icon_menu{
  opacity: 1;
}
.menu_button{
  background: url(../img/down_b.png)no-repeat center center;
  width: 17px;
  height: 9px;
  margin-top: 3px;
}
.menu{
  width: 140px;
  clear: both;
  display: none;
  float: left;
}
.menu_items{
  float: none;
}
.icon {
  display: block;
}
ul.submenu {
  clear: both;
  position: relative;
  padding: 0px 0px;
  background: none;
  box-shadow: none;
  left: -13px;
  top: 1px;
}
.submenu li {
  padding: 4px 12px;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.submenu_about,
.submenu_features{
  width: 180px;
}
.submenu_prising{
  width: 95px;
}
.sub_submenu{
  box-shadow: none;
  background: none;
  left: 167px;
  top: -11px;
}
.sub_menu_button {
  background-image: url(../img/right_w.png);
  width: 9px;
  height: 17px;
}
.testimonial_button_right{
  right: 0;
  margin-right: 80px;
}
.testimonial_button_left{
  margin-left: 80px;
}
.team_items{
  width: 550px;
  margin: 0 auto;
}
.team_item {
  margin: 9px 9px;
}
}
@media only screen and (max-width: 980px){
.banner_img {
  display: none;
}
.banner_content {
  width: 100%;
  text-align: center;
}
.banner_text{
  margin: 0 auto;
}
.baner_button{
  max-width: 415px;
  margin: 0 auto;
}
#screenshots{
  background: #af5afe;
}
.screenshots_imgs{
  margin-top: 0px;
}
.screenshots_img{
  height: 350px;
}
.feature_rich_photo{
  width: 100%;
  height: 360px;
}
.rich_item{
  width: 20%;
}
#contact{
  background: linear-gradient(to bottom, #fff 50%, #983cff 50%);
}
.get {
  width: 100%;
  float: none;
  padding-bottom: 30px;
  height: 600px
}
.get_toch_input{
  width: 100%;
}
.get_toch_input_massage{
  margin-bottom: 20px;
}
.get_button_text {
  margin: 0 auto;
}
.contact {
  float: none;
  width: 80%;
  margin: 0 auto;
  padding: 0px;
  height: 600px; 
}
.contact_title{
  text-align: center;
}
.contact_title{
  padding-top: 80px; 
}
.rline {
  width: 80%;
}
.massage .rfield_error{
    margin-top: -20px;
}
}
@media only screen and (max-width: 940px){
.features_phones{
  display: none;
}
.features_left,
.features_right{
  width: 48%;
}
.features_item{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.right{
  float: none;
}
.text_right{
  text-align: center;
}
.testimonial_button_right{
  right: 0;
  margin-right: 20px;
}
.testimonial_button_left{
  margin-left: 20px;
}
.feature_rich_photo{
  height: 340px;
}
.rich_profile, 
.rich_overview {
  margin-top: 40px;
}
.rich_sign, 
.rich_timelin {
  margin-top: 60px;
}
}
@media only screen and (max-width: 800px){
.feature_rich_photo{
  height: 290px;
}
.subscribe {
  width: 640px;
}
.subscribe_input {
  width: 260px;
}
}
@media only screen and (max-width: 776px){
.menu {
  width: 100%;
}
.sub_submenu {
  left: -12px;
  top: 0px;
  position: relative;
}
.submenu_about{
  width: 230px;
}
.sub_menu_button {
  margin-right: 67px;
}
.sub_menu_button {
  background: url(../img/down_b.png) no-repeat center center;
  width: 30px;
  height: 25px;
  margin-top: -4px;
}
.submenu_about {
  width: 250px;
}
.submenu{
  width: 100%;
}
.sub_menu_button {
  margin-right: 0px;
}
.menu_items {
  padding: 15px 13px;
}
.menu_button{
  width: 40px;
  height: 30px;
  margin-top: -7px;
  right: -10px; 
}
.submenu li {
  padding: 8px 12px;
}
.sub_submenu{
  width: 280px;
}
.sub_submenu_img{
  top: 19px;
  right: 0px;
}
.menu_item {
  padding: 10px 0px;
}
}
@media only screen and (max-width: 740px){
.about_items,
.features_item{
  padding-top: 50px;
}
.about_item{
  width: 100%;
  margin-top: 50px; 
}
.about_item:first-child{
  margin-top: 0px; 
}
.features_left{
  float: none;
}
.features_left,
.features_right{
  width: 100%;
}
.screenshots_img{
  height: 300px;
}
.feature_rich_photo{
  height: 260px;
}
.testimonial {
  height: 275px;
  margin: 0px auto;
  max-width: 450px;
}
.testimonial_content {
  width: 400px;
}
.shadow {
  width: 420px;
}
.testimonial_shadow {
  margin-left: -210px;
}
}
@media only screen and (max-width: 680px){
.subscribe {
  width: 515px;
}
.subscribe_title{
  float: none;
  text-align: center;
  padding-bottom: 20px;
}
}
@media only screen and (max-width: 660px){
  .feature_rich_photo{
    height: 240px;
  }
}
@media only screen and (max-width: 600px){
.screenshots_img{
  height: 250px;
}
 .testimonial_button_right{
  margin-right: 0px;
} 
.testimonial_button_left{
  margin-left: 0px;
} 
.prising_items{
  width: 295px;
}
.team_items{
  width: 257px;
  margin: 0 auto;
}
.team_item {
  margin: 9px 0px;
}
.feature_rich_photo{
  height: 220px;
}
.rich_quickly {
  margin-top: 10px;
}
 .rich_profile, 
.rich_overview {
  margin-top: 20px;
}
.rich_sign, 
.rich_timelin {
  margin-top: 30px;
}
}
@media only screen and (max-width: 550px){
.feature_rich_photo{
  height: 200px;
}
.subscribe {
  width: 362px;
}
.subscribe_input {
  width: 160px;
  margin-left:0px;
}
.testimonial {
  height: 290px;
  margin: 0px auto;
  max-width: 320px;
}
.testimonial_content {
  width: 300px;
}
.shadow {
  width: 310px;
}
.testimonial_shadow {
  margin-left: -155px;
}
}
@media only screen and (max-width: 500px){
section{
  padding: 60px 0px;
}
.decoration {
  padding: 5px 0px;
}
.text,
.title_item{
  padding: 5px 0px;
}
.baner_button{
  width: 210px;
  margin: 0 auto;
}
.button_app{
  margin: 0px 10px;
}
.button_play{
  margin-top: 20px;
}
.about_items{
  padding-top: 20px;
}
.about_item{
  margin-top: 20px; 
}
.title_item {
  padding: 10px 0px;
}
.screenshots_quickly{
  display: none;
}
.screenshots_img{
  width: 33%;
}
.screenshots_img{
  height: 300px;
}
.testimonial_button {
  padding: 5px 5px;
  border-radius: 3px;
}
.feature_button{
  width: 210px;
}
.button_rich:first-child{
  margin: 0px 12px;
}
.feature_rich_photo{
  width: 80%;
  height: 230px;
}
.rich_item{
  width: 33%;
}
.rich_sign, 
.rich_timelin {
  display: none;
}
iframe{
  height: 300px;
}
footer {
  padding: 60px 0px;
}
.footer_title {
  padding-top: 15px;
}
}
@media only screen and (max-width: 450px){
.feature_rich_photo{
  height: 210px;
}
.get {
  height: 460px;
}
.get_toch_input {
  margin-top: 10px;
}
.contact{
  height: 459px;
}
.contact_title{
  padding-top: 30px;
}
.contact_items{
  padding-top: 30px;
}
.contact_item{
  padding-bottom: 40px;
}
.testimonial {
  height: 260px;
  margin: 0px auto;
  max-width: 270px;
}
.testimonial_content {
  width: 250px;
  height: 200px;
}
.shadow {
  height: 130px;
  width: 260px;
}
.testimonial_shadow {
  margin-left: -130px;
  margin-top: -65px;
}
.testimonial_content_text{
  font-style: italic;
  padding: 15px 10px;
}
}
@media only screen and (max-width: 400px){
html{
  font-size: 14px;
}
.screenshots_img{
  height: 280px;
}
.testimonial_button {
  padding: 2px 2px;
  border-radius: 3px;
}
.feature_rich_photo{
  width: 100%;
  height: 230px;
}
.subscribe {
  width: 280px;
}
.subscribe_input {
  width: 100px;
  margin-right:10px;
}
}
@media only screen and (max-width: 360px){
.screenshots_img{
  height: 200px;
}
.feature_rich_photo{
  height: 205px;
}
.testimonial {
  height: 260px;
  margin: 0px auto;
  max-width: 220px;
}
.testimonial_content {
  width: 200px;
  height: 200px;
}
.shadow {
  width: 210px;
}
.testimonial_shadow {
  margin-left: -105px;
}
}
@media only screen and (min-width: 320px){
}


